<html>
<body>
<%
n = $db.nERBPageLoads.findOne || {'count' => 0}
n['count'] += 1
$db.nERBPageLoads.save(n)
%>
<p>This page has been loaded <%= n['count'].to_i %> times.
   <a href="/admin/doc?f=/ruby/counter.rb">[code]</a>
</p>
</body>
</html>
